*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input {
    background-color:transparent;
    border: 0px solid;
    height:30px;
    width:90%;
    outline: none;
}
input:focus {
    outline:none;
}
.about-img{
    object-fit: cover;
    height: 334px;
    width: 334px;
}
#qty{
    width: 50px;
}
.vegetables{
    height: 86px;
    width: 119px;
    box-shadow: -1px 7px 21px -7px rgb(31 45 61 / 10%);
    border: 1px solid white;
    border-radius: 50%;
}
#product-table{
    box-shadow: -1px 7px 21px -7px rgb(31 45 61 / 10%);
}
  